<% @merchants.each do |merchant| %>
  <div>
    <p>Name: <%= merchant.return_name %> </p>
  </div>
<% end %>

<% for merchant in @merchants %>
<table>
<tr>
  <td><a href="<%= merchant.id %>"><%= merchant.return_name %></a></td>
  <!-- <td>|</td>
  <td>eiufhieu</td> -->
</tr>
<% end %>
</table>
