html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url("../images/use this background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#squidlogo {
  max-width: 45%;
  max-height: 45%;
  z-index: 2;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#welcome_button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ff3c00;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none!important;
  display: inline-block;
  font-size: 30px;
  color: white;
  font-family: 'Cabin', sans-serif;
}

#welcome_message {
  font-family: 'Indie Flower', cursive;
  font-size: 70px;
  color: #8a00ff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
